<%= form_tag searched_path(params[:category_id]), :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Search Posts for a Word" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
