<%= link_to "back to #{@category.name}", category_posts_path%>

<%= render partial: 'show_post_contents', :locals =>{ :@post => @post }  %>

<ul>
<% @post.children.each do |comment| %>
  <li class="comment"><%= render partial: 'show_post_contents', :locals => { :@post => comment } %></li>
<% end %>
</ul>
